<a href="https://t.me/tonya_sokolova"><font color="#1faee9"><i class="fa fa-telegram" aria-hidden="true"></i></font></a>
<a href="https://vk.com/tonyasokolova"><font color="#4c87d9"><i class="fa fa-vk" aria-hidden="true"></i></font></a>

<!--<a class="facebook" href="#" onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    return false;"><span class="icon-facebook-rect"> Share</span>
</a>-->
